[Unit]
Description=Torrent is a micro service for interfacing with transmission
Documentation=http://github.com/russellchadwick/torrentservice
After=network.target

[Service]
User=pi
Group=pi
LimitNOFILE=65536
ExecStart=/home/pi/go/bin/torrentserver
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=torrent.service
